---
driver:
  name: dokken
  chef_version: latest

transport:
  name: dokken

provisioner:
  name: dokken

verifier:
  name: inspec

platforms:
- name: ubuntu-16.04
  driver:
    image: dokken/ubuntu-16.04
    ports: "8443:8443"

suites:
  - name: default
    run_list:
      - recipe[bootcamp::default]
    verifier:
      inspec_tests:
        - test/smoke/default
    attributes:
