---
driver:
  name: vagrant

provisioner:
  name: chef_zero
  # You may wish to disable always updating cookbooks in CI or other testing environments.
  # For example:
  #   always_update_cookbooks: <%= !ENV['CI'] %>
  always_update_cookbooks: true

verifier:
  name: inspec

platforms:
  - name: trusty-server-32
    driver:
      box: trusty-server-32
      box_url: "/vagrant/boxes/trusty-server-32.box"

suites:
  - name: default
    run_list:
      - recipe[bootcamp::default]
    verifier:
      inspec_tests:
        - test/recipes
    attributes:
